CairoSVG==2.7.1
matplotlib==3.6.2
msbuddy==0.2.3
networkx==3.1
numpy==1.23.4
pandas==1.5.1
Pillow==9.2.0
pyteomics==4.7.5
rdkit==2023.9.5
Requests==2.32.3
tqdm==4.67.1
xlsxwriter
prettytable
openpyxl
openpyxl-image-loader
msbuddy==0.2.3
seaborn
myst-parser
nbsphinx
sphinx-rtd-theme
sphinx==7.1.2
sphinx-autobuild
-e .
