cairosvg
rdkit
requests
xlsxwriter
prettytable
numpy
tqdm
pillow
openpyxl
openpyxl-image-loader
msbuddy==0.2.3
seaborn
pyteomics
matplotlib
myst-parser
nbsphinx
sphinx-rtd-theme
sphinx
networkx
sphinx-autobuild
-e .